<ion-view view-title="Search">


  <ion-content class="padding">

       <div class="list list-inset" ng-click="searchBusinesses()">
          <label class="item item-input">
              <i class="icon ion-search placeholder-icon"></i>
              <input type="text" ng-model="searchInfo.type" placeholder="Search">
              <button class="button button-clear" ng-click="searchBusinesses()">
                  Search
              </button>
          </label>
          <ion-toggle ng-model="localMode">
              Local
          </ion-toggle>

      </div>


      <ion-list>
          <div ng-repeat="business in businesses" >

              <ion-item ng-click="toggleDetails(business)" class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
              <img ng-src="{{business.picture}}">
              <h3>{{business.name}}</h3>
              <p>Distance {{business.distance}}</p>
              <i class="icon ion-chevron-down icon-accessory"></i>
          </ion-item>

          <ion-item class="item-accordion" ng-show="showDetails(business)">
              <h2>{{business.description}}</h2>
              <div class="map-link" ng-click="showMap(business)">{{business.full_address}}</div>
              <p style="font-size: large; font-weight: bold; color: DarkGreen; padding: 5px;"> Subscribe for 30% off first purchase</p>
              <ion-checkbox class='subscribe' ng-click="subscribe(business)" ng-model="subscribed">Subscribe</ion-checkbox>
          </ion-item>
          </div>
      </ion-list>

  </ion-content>
</ion-view>
